.tag {
  color: var(--text-grey-color);
  font-size: 16px;
  font-weight: 400;
  padding: 10px 16px;
  background-color: var(--background-grey-color);
  border-radius: 100px;
  text-decoration: none;
  margin-right: 16px;
  white-space: nowrap;
}

.tag_selected {
  color: var(--text-white-color);
  font-size: 16px;
  font-weight: 400;
  padding: 10px 16px;
  background-color: var(--background-black-color);
  border-radius: 100px;
  text-decoration: none;
  margin-right: 16px;
  white-space: nowrap;
}

.tags_wrap {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  margin: 40px 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tags_wrap::-webkit-scrollbar {
  display: none;
}
