.main {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.nowInfo {
  display: flex;
  justify-content: center;
}

.nowTag {
  font-size: 40px;
  font-family: "Pretendard";
  font-weight: 600;
  margin: 0;
  margin-top: 64px;
  margin-bottom: 32px;
}

.nowCount {
  margin-top: 60px;
  font-family: "Pretendard SemiBold";
}

.tagsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: var(--accent-color);
}

.link:hover {
  text-decoration-line: underline;
}

.tag {
  margin: 0;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.bottom {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1100px) {
  .main {
    width: 90%;
  }

  .bottom {
    width: 100%;
  }
}
