.article {
  max-width: 800px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 24px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  margin-top: 28px;
}

.information_wrap {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 16px;
}

.tag {
  color: var(--text-grey-color);
  font-size: 16px;
  font-weight: 400;
  padding: 10px 16px;
  background-color: var(--background-grey-color);
  border-radius: 100px;
  text-decoration: none;
  margin-right: 16px;
  white-space: nowrap;
}

.date {
  color: var(--text-grey-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}

.description {
  color: var(--text-grey-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin: 16px 0 52px;
}

/** content style **/

.content img {
  max-width: 100%;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  margin-bottom: 12px;
}

.content img + em {
  font-size: 14px;
  text-align: center;
  color: var(--text-grey-color);
  display: block;
  font-style: normal;
}

.content p {
  color: var(--text-grey-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin: 32px 0;
}

.content p > a {
  color: #007bff;
}

.content p > a:hover {
  text-decoration-line: underline;
}

.content li {
  color: var(--text-grey-color);
  font-size: 18px;
  line-height: 32px;
}

.content li > a {
  color: #007bff;
}

.content li > a:hover {
  text-decoration-line: underline;
}

.content h1 {
  margin-top: 52px;
  margin-bottom: 20x;
  font-size: 40px;
  scroll-margin-top: 100px;
  font-weight: 600;
  line-height: 52px;
}

.content h2 {
  margin-top: 52px;
  margin-bottom: 20px;
  font-size: 32px;
  scroll-margin-top: 100px;
  font-weight: 600;
  line-height: 44px;
}

.content h3 {
  margin-top: 52px;
  margin-bottom: 20px;
  font-size: 28px;
  scroll-margin-top: 100px;
  font-weight: 600;
  line-height: 36px;
}

.content h4 {
  margin-top: 52px;
  margin-bottom: 20px;
  font-size: 24px;
  scroll-margin-top: 100px;
  font-weight: 600;
  line-height: 32px;
}

.content h5 {
  margin-top: 52px;
  margin-bottom: 20px;
  font-size: 20px;
  scroll-margin-top: 100px;
  font-weight: 600;
  line-height: 28px;
}

.content h6 {
  margin-top: 52px;
  margin-bottom: 20px;
  font-size: 16px;
  scroll-margin-top: 100px;
  font-weight: 600;
  line-height: px;
}

.anchor {
  display: flex;
  align-items: center;
}

.anchor::after {
  content: "🔗";
  font-size: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.anchor:hover::after {
  content: "🔗";
  font-size: 20px;
  margin-left: 8px;
  color: #2b6cb0;
  opacity: 1;
}

.content blockquote {
  margin: 40px 0;
  padding: 8px 32px;
  border-radius: 24px;
  background-color: var(--background-grey-color);
  display: flex;
  align-items: center;
}

.content blockquote p {
  font-size: 18px;
  margin: 12px 0;
  line-height: 32px;
  color: black;
}

.content blockquote::before {
  content: url("/docs.svg");
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

.content pre {
  line-height: 28px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
}

.content code span {
  font-size: 14px;
  font-family: Menlo;
  color: var(--text-black-color);
}

.content code span span {
  font-size: 14px;
  font-family: Menlo;
  color: var(--text-black-color);
}

.content pre::-webkit-scrollbar {
  display: none;
}

.content div {
  font-size: 14px;
  font-family: "Menlo";
  color: #666666;
  background-color: #fafafa;
  padding: 16px 20px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border: 1.6px solid var(--border-grey-color);
  border-bottom: none;
}

.content div + figure {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 16px 24px;
  margin: 0;
  margin-bottom: 20px;
  border: 1.6px solid var(--border-grey-color);
}

.content figure {
  border-radius: 16px;
  padding: 16px 24px;
  margin: 0;
  margin-bottom: 20px;
  border: 1.6px solid var(--border-grey-color);
}

@media (max-width: 900px) {
  .article {
    max-width: none;
    margin: 60px 40px 0 40px;
  }
}

@media (max-width: 550px) {
  .article {
    max-width: none;
    margin: 60px 28px 0 28px;
  }
}
