.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    .content {
        transform: scale(1.02);
        transition-duration: 0.3s;
        z-index: 900;
    }
}

.content {
    background-color: #f5f5f5;
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
    overflow: hidden;
}

.margin_container {
    height: 34px;
}

.text {
    width: 85%;
    height: 100%;
    padding-top: 22px;
    padding-left: 28px;
    padding-right: 20px;
}

.date {
    font-size: 1rem;
    font-family: 'Pretendard'; 
    font-weight: 400;
    padding-bottom: 5px;
}

.title {
    max-width: 600px;
    max-height: 55px;
    font-size: 1.5rem;
    font-family: 'Pretendard'; 
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2 ;
    -webkit-box-orient: vertical;
}

.description {
    margin-top: 10px;
    font-size: 1rem;
    font-family: 'Pretendard';
    font-weight: 400;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1 ;
    -webkit-box-orient: vertical;
}

.tag {
    background-color: #FBF198;
    width: auto;
    height: 25px;
    display: flex;
    border-radius: 18px;
    font-size: 1rem;
    font-family: 'Pretendard';
    font-weight: 500;
    align-items: center;
    justify-content: center;
    clear: both;
    float: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.img_wrap {
    width: 224px;
    height: 126px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 28px;
}

.image {
    width: 224px;
    height: 126px;
    border-radius: 5px;
    object-fit: cover;
}

@media (max-width:700px) {
    .img_wrap {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .image {
        width: 100%;
        height: auto;
        border-radius: 5px;
        object-fit: cover;
    }

    .content {
        flex-direction: column-reverse;
    }

    .text {
        justify-content: center;
    }

    .date {
        width: 80%;
    }

    .title {
        width: 100%;
    }

    .description {
        width: 100%;
    }
}