* {
  font-family: var(--font-wanted-sans), var(--font-toss-face);
  color: var(--text-black-color);
  text-decoration: none;
}

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
}

:root {
  --background-color: #ffffff;
  --background-black-color: #000000;
  --background-grey-color: #f2f4f6;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --text-grey-color: #4e5968;
  --border-grey-color: #ededed;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

#area {
  height: 136px;
}

@media (max-width: 550px) {
  #area {
    height: 72px;
  }
}
