@import url("https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@import url("https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css");

* {
  font-family: "Wanted Sans Variable", "tossface";
  color: var(--text-black-color);
  text-decoration: none;
}

:root {
  --background-color: #ffffff;
  --background-black-color: #000000;
  --background-grey-color: #f2f4f6;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --text-grey-color: #4e5968;
  --border-grey-color: #ededed;
}

body {
  margin: 0;
}
