.main {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  height: 475px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.newText {
  font-size: 28px;
  font-family: "Pretendard SemiBold";
  color: black;
  margin: 48px 0px 0px 0px;
}

.topContent {
  display: flex;
  margin-top: 32px;
  justify-content: center;
}

.bottom {
  margin-left: auto;
  margin-right: auto;
}

.allText {
  font-size: 28px;
  font-family: "Pretendard SemiBold";
  color: black;
  margin: 0px;
}

.singlePost {
  margin-left: auto;
  margin-right: auto;
}

.doublePost {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .singlePost {
    display: none;
  }
}

@media (max-width: 767px) {
  .doublePost {
    display: none;
  }
}

@media (max-width: 1200px) {
  .main {
    width: 90%;
  }

  .top {
    width: 90%;
    background-color: aqua;
  }

  .bottom {
    width: 90%;
  }
}

@media (max-width: 1150px) {
  .main {
    width: 90%;
  }
}
