.main {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  height: 475px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.alarm {
  margin-top: 48px;
}

.newText {
  font-size: 28px;
  font-family: "Pretendard SemiBold";
  margin-top: 48px;
}

.topContent {
  display: flex;
  margin-top: 32px;
  justify-content: center;
}

.bottom {
  margin-left: auto;
  margin-right: auto;
}

.allText {
  font-size: 28px;
  font-family: "Pretendard SemiBold";
  margin: 0px;
}

@media (min-width: 768px) {
  .singlePost {
    display: none;
  }
}

@media (max-width: 767px) {
  .doublePost {
    display: none;
  }

  .top {
    height: 320px;
  }
}

@media (max-width: 1100px) {
  .main {
    width: 90%;
  }

  .top {
    width: 100%;
  }

  .bottom {
    width: 100%;
  }
}
