.navbar_dynamic {
  background-color: var(--background-color);
  width: 1020px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border: var(--border-grey-color) solid 1px;
  border-radius: 20px;
  margin-top: 64px;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  top: 0;
  z-index: 100;
  animation-name: static_to_dynamic;
  animation-duration: 0.3s;
}

.navbar_static {
  background-color: var(--background-color);
  width: calc(100% - 80px);
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid var(--border-grey-color);
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  top: 0;
  z-index: 100;
  animation-name: dynamic_to_static;
  animation-duration: 0.3s;
}

.logo_menu_wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo_image {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.logo_text {
  font-size: 20px;
  font-weight: 400;
}

.menu {
  display: none;
}

.button_menu {
  display: none;
}

.button_menu_none {
  display: none;
}

.button {
  color: var(--text-grey-color);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 8px 10px;
  border-radius: 8px;
  margin-left: 8px;
  transition: all 0.3s;
}

.button:hover {
  background-color: var(--background-grey-color);
}

.button_selected {
  color: var(--text-grey-color);
  background-color: var(--background-grey-color);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 8px 10px;
  border-radius: 8px;
  margin-left: 8px;
  transition: all 0.3s;
}

/** aninimation **/

@keyframes dynamic_to_static {
  0% {
    width: 1020px;
    margin-top: 64px;
  }
  100% {
    width: calc(100% - 80px);
    margin-top: 0px;
  }
}

@keyframes static_to_dynamic {
  0% {
    width: calc(100% - 80px);
    margin-top: 0px;
  }
  100% {
    width: 1020px;
    margin-top: 64px;
  }
}

@keyframes dynamic_to_static_1180 {
  0% {
    width: calc(100% - 160px);
    margin-top: 64px;
  }
  100% {
    width: calc(100% - 80px);
    margin-top: 0px;
  }
}

@keyframes static_to_dynamic_1180 {
  0% {
    width: calc(100% - 80px);
    margin-top: 0px;
  }
  100% {
    width: calc(100% - 160px);
    margin-top: 64px;
  }
}

/** media query **/

@media (max-width: 1180px) {
  .navbar_dynamic {
    width: calc(100% - 160px);
    animation-name: static_to_dynamic_1180;
    animation-duration: 0.3s;
  }

  .navbar_static {
    animation-name: dynamic_to_static_1180;
    animation-duration: 0.3s;
  }
}

@media (max-width: 550px) {
  .navbar_dynamic {
    width: calc(100% - 40px);
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: none;
    border-bottom: 1px solid var(--border-grey-color);
    margin-top: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--background-color);
    animation: unset;
    display: block;
    justify-content: flex-end;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .button_menu_none {
    display: none;
  }

  .button_menu {
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0px;
    padding: 4px 0 16px;
    border-top: 1px solid var(--border-grey-color);
  }

  .button_wrap {
    display: none;
  }

  .button {
    width: calc(100% - 80px);
    text-align: center;
    color: var(--text-grey-color);
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0 0 0;
    padding: 12px;
    border-radius: 8px;
    transition: all 0.3s;
  }

  .button_selected {
    width: calc(100% - 80px);
    text-align: center;
    color: var(--text-grey-color);
    background-color: var(--background-grey-color);
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0 0 0;
    padding: 12px;
    border-radius: 8px;
    transition: all 0.3s;
  }
}
