.footer {
  color: var(--text-grey-color);
  text-align: center;
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 400;
}

.link {
  color: var(--text-grey-color);
  text-align: center;
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 400;
}

.link:hover {
  font-weight: 500;
}
