.container {
  margin-top: 48px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.container:hover {
  .image {
    transform: translateY(-10%);
  }
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 30px;
  transition: all 0.5s;
}

.title {
  font-size: 24px;
  font-family: "Pretendard SemiBold";
  margin: 16px 0px 4px 0px;
}

.description {
  font-size: 16px;
  font-family: "Pretendard Regular";
  margin: 0px 0px 8px 0px;
  color: #868b94;
}

.info {
  display: flex;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
